@model WebApplication1Front.Models.Product
@{
    ViewData["Title"] = "Details";
}

<div class="jumbotron text-center">
    <form>
        <p>@Model.Name</p>
        <p>@Model.Price</p>
        <select name="amount" asp-items="@ViewBag.Amount"></select>
        <img src="@Model.ImagePath" class="img-fluid" />
        <div class="form-group">
            <input type="submit" class="btn btn-primary" asp-controller="Products" asp-action="Details" asp-route-id="@Model.ProductID" />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@Model.ProductID" />
        </div>
    </form>
</div>